*/target
.gitignore
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
spring_cloud_demo/eureka_demo/target/
spring_cloud_demo/time_client/src/test/
spring_cloud_demo/time_client/target/
spring_cloud_demo/time_service/target/
test_demo/target/
